.section {
  padding-top: 30px;
}

.postsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  list-style-type: none;

  @media screen and (max-width: 767.98px) {
  }

  @media screen and (min-width: 768px) {
    max-width: 500px;
    margin-left: 30%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 800px;
  }
}
